.btn-def {
    color: $color-04;
    padding: 8px 25px;
    background-color: $bg-color;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 300;
    font-size: 14px;
    border: 1px solid $color-04;
    font-family: 'Poppins';
    text-transform: uppercase;
    z-index: 1;
    display: inline-block;
    margin-top: $mb;
    &::after,&::before{
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 75%;
        z-index: -1;
        background-color: $color-03;
        transition: 1s ease;
    }
    &::before{
        top: -1em;
        left: -1em;
    }
    &::after {
        left: calc(100% + 1em);
        top: calc(100% + 1em);
    }
    &:hover::before, &:hover::after {
        height: 170%;
        width: 170%;
    }
}